@model Final_task.Models.Students

@{
    Layout = "~/Views/_BasicLayout.cshtml"; 
    ViewBag.Title = "Данные отправлены";
}


    <div>
        <h1>Данные @Model.ToString() добавлены!</h1>
        <p>
            @Html.ActionLink("На главную", "Index")
        </p>
    </div>
