
@{
    Layout = "~/Views/_BasicLayout.cshtml"; 
    ViewBag.Title = "Главная";
}


    <div>
        @ViewBag.Greeting, вы хотите внести данные обучающихся?
        <p>
            @Html.ActionLink("Вы можете это сделать здесь", "InputData")
        </p>
        <p> @Html.ActionLink("Результаты студентов", "OutputData") </p>
        
    </div>
