
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, вы хотите внести данные обучающихся?
        <p>
            @Html.ActionLink("Вы можете это сделать здесь", "InputData")
        </p>
    </div>
</body>
</html>
