@model Final_task.Models.StudentsRepository

@{
    Layout = "~/Views/_BasicLayout.cshtml"; 
    ViewBag.Title = "Список студентов";
}


    <div>
        <h3>Список студентов</h3> <p>Студентов всего @ViewBag.Count</p>
        <ul> @foreach (var c in ViewBag.pers)
        {<li>@c.ToString() </li>} </ul>
        <p>
            @Html.ActionLink("На главную", "Index")
        </p>
    </div>
