
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputData</title>
</head>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td><p>Введите имя:</p></td>
                    <td><input type="text" name="FirstName" /> </td>
                </tr>
                <tr>
                    <td><p>Введите фамилию:</p></td>
                    <td><input type="text" name="LastName" /> </td>
                </tr>
                <tr>
                    <td><p>Введите группу:</p></td>
                    <td><input type="text" name="Group" /> </td>
                </tr>
                <tr>
                    <td><p>Ведите оценку за предмет #1</p></td>
                    <td><input type="number" name="Subject_1" /> </td>
                </tr>
                <tr>
                    <td><p>Ведите оценку за предмет #2</p></td>
                    <td><input type="number" name="Subject_2" /> </td>
                </tr>
                <tr>
                    <td><p>Ведите оценку за предмет #3</p></td>
                    <td><input type="number" name="Subject_3" /> </td>
                </tr>
                <tr>
                    <td><p>Ведите оценку за предмет #4</p></td>
                    <td><input type="number" name="Subject_4" /> </td>
                </tr>
                <tr>
                    <td><p>Ведите оценку за предмет #5</p></td>
                    <td><input type="number" name="Subject_5" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
